</main>
<footer>
    <div>
        <p><span>FOLLOW:</span>
            <a href="https://github.com/parkseunghan" target="_blank">Github</a>
            <a href="https://parkseunghan.github.io" target="_blank">Github Pages</a>
        </p>
    </div>
    <p>
        <span>Copyright 2024. 박승한(Seunghan, Park). All rights reserved.</span>
    </p>
</footer>
</div>



</body>

</html>