<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/82179c8281.js" crossorigin="anonymous"></script>
    <title><%= locals.title %></title>
</head>

<body>
    <header>
        <a class="site-logo" href="#">
            <img src="/images/pack1.png">
        </a>
        <a class="site-title" href="/">P A R K</a>
        <nav id="site-nav">
            <ul>
                <li><a href="/post">Post</a></li>
                <li><a href="/category">Category</a></li>
                <li><a href="/search">검색</a></li>
            </ul>
        </nav>
    </header>

    <div id="wrap">
        <aside id="side-bar">
            <section id="side-bar__icon-box">
                <section id="side-bar__icon-1">
                    <div></div>
                    <div></div>
                    <div></div>
                </section>
            </section>
            <ul>
                <li>
                    <a href="#"><i class="fa-solid fa-cat"></i>menu1</a>
                    <ul>
                        <li><a href="#">text1</a></li>
                        <li><a href="#">text2</a></li>
                        <li><a href="#">text3</a></li>
                        <li><a href="#">text4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">menu2</a>
                    <ul>
                        <li><a href="#">text1-1</a></li>
                        <li><a href="#">text2-1</a></li>
                        <li><a href="#">text3-1</a></li>
                        <li><a href="#">text4-1</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">menu3</a>
                    <ul>
                        <li><a href="#">text1-1</a></li>
                        <li><a href="#">text2-1</a></li>
                        <li><a href="#">text3-1</a></li>
                        <li><a href="#">text4-1</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">menu4</a>
                    <ul>
                        <li><a href="#">text1-1</a></li>
                        <li><a href="#">text2-1</a></li>
                        <li><a href="#">text3-1</a></li>
                        <li><a href="#">text4-1</a></li>
                    </ul>
                </li>

            </ul>
        </aside>
        <main class="main">