<aside id="side-bar">
    <section id="side-bar__icon-box">
        <section id="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <ul>
        <li>
            <a href="/test"><i class="fa-solid fa-cat"></i>test</a>
            <ul>
                <li><a href="/test2">text2</a></li>
                <li><a href="#">text2</a></li>
                <li><a href="#">text3</a></li>
                <li><a href="#">text4</a></li>
            </ul>
        </li>
        <li>
            <a href="#">menu2</a>
            <ul>
                <li><a href="#">text1-1</a></li>
                <li><a href="#">text2-1</a></li>
                <li><a href="#">text3-1</a></li>
                <li><a href="#">text4-1</a></li>
            </ul>
        </li>
        <li>
            <a href="#">menu3</a>
            <ul>
                <li><a href="#">text1-1</a></li>
                <li><a href="#">text2-1</a></li>
                <li><a href="#">text3-1</a></li>
                <li><a href="#">text4-1</a></li>
            </ul>
        </li>
        <li>
            <a href="#">menu4</a>
            <ul>
                <li><a href="#">text1-1</a></li>
                <li><a href="#">text2-1</a></li>
                <li><a href="#">text3-1</a></li>
                <li><a href="#">text4-1</a></li>
            </ul>
        </li>
        
    </ul>
</aside>