html,
body,
ul,
li {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: block;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 0;
}

#site-nav {
  overflow: hidden;
  height: 80px;
  margin: 0;
  background-color: #f8f8f8;
}
#site-nav ul {
  float: right;
  list-style: none;
}
#site-nav ul li {
  float: left;
  padding: 15px 15px;
  list-style: none;
}
#site-nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  display: block;
  height: 10px;
  position: relative;
  padding: 15px 0 15px 0;
}
#site-nav ul li a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  border-bottom: 3px solid #000000;
  width: 0;
  transition: all 0.4s;
}
#site-nav ul li a:hover:after {
  width: 100%;
  left: 0;
}

.site-logo img {
  max-width: 50px;
  display: block;
  float: left;
  justify-content: center;
  padding: 10px 10px 10px 15px;
}

.site-title {
  text-decoration: none;
  display: flex;
  float: left;
  justify-content: center;
  font-size: 25px;
  font-weight: 900;
  line-height: 80px;
  padding: 0;
}

#wrap {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: #cadae0;
}

:root {
  --side-bar-width: 270px;
  --side-bar-height: 80vh;
  --side-bar__icon: .5s;
  --rotate-icon: 0.5s;
}

#side-bar__icon-box {
  display: flex;
  justify-content: flex-end;
}

#side-bar__icon-1 {
  position: relative;
  width: 23px;
  height: 17px;
  margin: 12px;
  margin-top: 15px;
  transition: 0.5s;
}
#side-bar__icon-1 div {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: white;
  transition: all var(--side-bar__icon);
}
#side-bar__icon-1 div:nth-of-type(1) {
  top: 0;
  width: auto;
  left: 0;
  right: 0;
  transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), right calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), height calc(var(--side-bar__icon) / 2) 0s;
}
#side-bar__icon-1 div:nth-of-type(2) {
  top: 40%;
  transform-origin: bottom left;
}
#side-bar__icon-1 div:nth-of-type(3) {
  top: 80%;
  left: auto;
  right: 0;
  transform-origin: bottom right;
}

#side-bar {
  opacity: 0.4;
  position: fixed;
  background-color: rgb(171, 201, 171);
  width: var(--side-bar-width);
  min-height: var(--side-bar-height);
  margin-top: calc((100vh-var (--side-bar-height)) / 2);
  border-radius: 10px;
  transform: translate(calc(var(--side-bar-width) * -0.85), 0);
  transition: 0.5s;
  z-index: 1;
}
#side-bar section {
  position: relative;
}
#side-bar section div {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: black;
  transition: all var(--rotate-icon);
}
#side-bar section div:nth-of-type(1) {
  width: auto;
  left: 0;
  right: 0;
  transition: all var(--rotate-icon), left calc(var(--rotate-icon) / 2) calc(var(--rotate-icon) / 2), right calc(var(--rotate-icon) / 2) calc(var(--rotate-icon) / 2), height calc(var(--rotate-icon) / 2) 0s;
}
#side-bar section div:nth-of-type(2) {
  top: 40;
  transform-origin: bottom left;
}
#side-bar section div:nth-of-type(3) {
  top: 80%;
  left: auto;
  right: 0;
  transform-origin: bottom right;
}
#side-bar section:hover div:nth-of-type(2) {
  transform: rotate(45deg);
  width: 70.5%;
}
#side-bar section:hover div:nth-of-type(3) {
  top: 40%;
  transform: rotate(-45deg);
  width: 70.5%;
}
#side-bar section:hover div:nth-of-type(1) {
  left: 40%;
  right: 60%;
  height: 100%;
  transition: all var(--rotate-icon), left calc(var(--rotate-icon) / 2) 0s, right calc(var(--rotate-icon) / 2) 0s, height calc(var(--rotate-icon) / 2) calc(var(--rotate-icon) / 2);
}
#side-bar ul ul {
  display: none;
}
#side-bar ul li {
  position: relative;
  background-color: #c5ced4;
}
#side-bar ul li a {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px 0 20px 50px;
  transition: 0.5s;
  color: rgb(18, 33, 27);
}
#side-bar ul li:hover a {
  background-color: #a6b7a0;
  border-bottom: 1px solid #989b90;
}
#side-bar ul li:hover ul {
  display: block;
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 100%;
  width: 100%;
}

#side-bar:hover {
  transform: translate(-20px, 0);
  opacity: 1;
}
#side-bar:hover #side-bar__icon-1 {
  transform: translate(-198px, 0);
}
#side-bar:hover #side-bar__icon-1 div:nth-of-type(2) {
  transform: rotate(45deg);
  width: 70.5%;
  height: 20%;
}
#side-bar:hover #side-bar__icon-1 div:nth-of-type(3) {
  top: 40%;
  transform: rotate(-45deg);
  width: 70.5%;
  height: 20%;
}
#side-bar:hover #side-bar__icon-1 div:nth-of-type(1) {
  left: 41%;
  right: 41%;
  height: 100%;
  transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) 0s, right calc(var(--side-bar__icon) / 2) 0s, height calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2);
}

footer {
  width: 100%;
  height: 90px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #042911;
  padding-top: 15px;
  background-color: #bcd2db;
  color: #545c69;
  font-size: 11px;
}
footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #4935ad;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer a:active {
  color: #d34663;
}
footer a:link {
  color: #000;
}
footer a:visited {
  color: #7946a8;
}
footer p {
  margin-top: 0;
  margin-bottom: 0;
}
footer p span {
  display: inline-block;
  margin-left: 20px;
}